* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a:link,/*방문한적 없는 링크*/
a:visited /*방문한 링크*/ {
  /* 링크에 밑줄 제거*/
  text-decoration: none;
  color: #222;
}

ul,
li {
  list-style: none;
}

.box {
  width: 100px;
  height: 100px;
  background-color: skyblue;
}
